{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
<h1>Hi, I am Anac0n6a</h1>
<p>
  <p>  
    <h5>
        Учюсь в практикуме, делаю проект в каникулы. Все прелестно) 
    </h5>
  </p>
  <p>
  Вот все мои соц.сети:
  </p>
  <p>
    <a href="https://vk.com/tim315", target='_blank'>
        ВКонтакте
    </a>
  </p>
  <p>
    <a href="https://www.instagram.com/timofei_shmakov/?hl=ru", target='_blank'>
      Instagram
    </a>
  </p>
  <a href='https://github.com/Anac0n6a', target='_blank'>
    GitHub
  </a>
</p>
{% endblock %} 